
@font-face {
  font-family: 'SanFranciso-Regular';
  src: url(../../assets/fonts/SF-Pro-Text-Regular.otf) format('opentype'),
}

@font-face {
  font-family: 'SanFranciso-Medium';
  src: url(../../assets/fonts/SF-Pro-Text-Medium.otf) format('opentype'),
}
