@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'colors';
@import 'layout';
@import 'main';
@import 'animations';

body {
  font: 16px/1 SanFranciso-Regular;
  @extend .bg-support;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
